[Desktop Entry]
Icon=text-html
Name=Done data
Type=Link
URL[$e]=https://docs.google.com/spreadsheets/d/1R-_RXNYpU0yPUvm7Zpcy9EbniVjrKI0RRlGRl5CrNGQ/edit?usp=sharing
